<mat-toolbar color="primary">
  <button mat-icon-button color="accent">
    <mat-icon>menu</mat-icon>
  </button>

  <a mat-button routerLink="/home">
    <mat-icon svgIcon="yogaball"></mat-icon>
    <span class="store-name">indieMart</span>
  </a>
  <span class="flex-spacer"></span>
  <button mat-icon-button color="accent" aria-label="User Profile"
  matTooltip="Profile" routerLink="/user/profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button color="accent" aria-label="Logout"
  matTooltip="Logout" routerLink="/user/logout">
    <mat-icon>lock_open</mat-icon>
  </button>

</mat-toolbar>
<router-outlet></router-outlet>
